@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";

body {
  font-family: "Open Sans", sans-serif;
}

.menu-bar {
  display: flex;
  justify-content: center;
  padding: 30px 10px;
  width: 100%;
  height: 150px;
  box-sizing: border-box;
  background-color: olive;
}

.menu-bar__column {
  width: 33%;
}

.menu-bar__column:first-child {
  display: flex;
  justify-content: flex-start;
}

.menu-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.menu-bar__column:nth-child(2) span {
  display: flex;
  font-size: 20px;
  padding: 7px;
}

.menu-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
}

.search-form {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 40px;
  margin: 0px 30px;
}

.search-form input {
  border: none;
  height: 50px;
  padding: 15px 0px;
  font-size: 18px;
  border-radius: 50px;
  box-shadow: 0px 1px 0px 0.5px rgba(0, 0, 0, 0.3);
}

.search-form input::placeholder {
  color: rgba(0, 0, 0, 0.1);
}

.section {
  display: flex;
  flex-direction: column;
}

.library-header {
  margin: 90px 0px;
  display: flex;
  margin: 20px 35px;
  font-size: 25px;
  font-style: bold;
}

.img-box {
  display: flex;
}

.img1 {
  display: flex;
  width: 130px;
  height: 200px;
  margin: 20px 35px;
  border-radius: 10px;
}

.span-day {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 270px;
}

.span-day > h1 {
  margin-top: 20px;
  font-size: 18px;
}

.span-day > h2 {
  opacity: 0.2;
  font-size: 13px;
  margin-top: 10px;
}

.day__genre_biography {
  display: flex;
  align-items: center;
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  background-color: #ececec;
  margin-right: 10px;
}

.bookmark_booknow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}

.bookmark {
  background-color: orange;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.booktag {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 130px;
  height: 50px;
  background-color: black;
  color: white;
}

.top-adventure {
  display: flex;
  flex-direction: column;
  padding: 0px 35px;
}

.adventure-scroll {
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
}

.adventure-scroll::-webkit-scrollbar {
  height: 15px;
}
.adventure-scroll::-webkit-scrollbar-thumb {
  background-color: var(--point-color);
  background-clip: padding-box;
  border: 2px solid transparent;
  border-radius: 10px;
}
.adventure-scroll::-webkit-scrollbar-track {
  background-color: var(--main-color);
  border-radius: 10px;
  box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.5);
}

.book {
  width: 90px;
  margin-right: 40px;
}

.book > img {
  width: 90px;
  height: 160px;
  border-radius: 10px;
}

.author-section {
  display: flex;
}

.author-imgbox {
  width: 130px;
  height: 190px;
  border-radius: 10px;
  padding: 0px 35px;
}

.author-imgbox > img {
  width: 130px;
  height: 190px;
  margin-right: 40px;
  border-radius: 40px;
}

.author-section2 {
  display: flex;
  flex-direction: column;
}

.author-header {
  margin-top: 10px;
  font-size: 18px;
}

.author-text {
  margin-top: 20px;
  letter-spacing: 2px;
  text-align: left;
  opacity: 0.3;
  font-size: 13px;
}
/******************** star-rating *********************/
.unable_star-rating {
  display: flex;

  justify-content: flex-end;
}

.unable_star-rating span:nth-child(1) {
  color: orange;
}
.unable_star-rating span:nth-child(2) {
  color: orange;
}
.unable_star-rating span:nth-child(3) {
  color: orange;
}
.unable_star-rating span:nth-child(4) {
  color: orange;
}

.unable_star-rating > span {
  display: inline-block;
  position: relative;
  width: 0.7em;
  font-size: 30px;
}

.star-rating {
  unicode-bidi: bidi-override;
  direction: rtl;

  display: flex;

  justify-content: flex-end;
}
.star-rating > span {
  display: inline-block;
  position: relative;
  width: 0.7em;
  font-size: 30px;
}
.star-rating > span:hover:before,
.star-rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
  color: orange;
}
/*****************************************************/
